<?xml version="1.0"?>
<launch>
  <node pkg="rostopic" type="rostopic" name="realsense_color_pub" respawn="false" output="screen"
        args="pub /realsense/color/camera_info sensor_msgs/CameraInfo -s
        '{header: {seq: 0, stamp: now, frame_id: 'realsense_camera_link'},
        height: 480, width: 640, distortion_model: 'plumb_bob',
        D: [],
        K: [812.0000610351562, 0.0, 320.0, 0.0, 812.0000610351562, 240.0, 0.0, 0.0, 1.0],
        R: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
        P: [812.0000610351562, 0.0, 320.0, 0.0, 0.0, 812.0000610351562, 240.0, 0.0, 0.0, 0.0, 1.0, 0.0],
        binning_x: 0, binning_y: 0,
        roi: {x_offset: 0, y_offset: 0, height: 0, width: 0, do_rectify: false}}' -r 25"/>

  <node pkg="rostopic" type="rostopic" name="realsense_depth_pub" respawn="false" output="screen"
        args="pub /realsense/depth/camera_info sensor_msgs/CameraInfo -s
        '{header: {seq: 0, stamp: now, frame_id: 'realsense_camera_link'},
        height: 480, width: 640, distortion_model: 'plumb_bob',
        D: [],
        K: [812.0000610351562, 0.0, 320.0, 0.0, 812.0000610351562, 240.0, 0.0, 0.0, 1.0],
        R: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
        P: [812.0000610351562, 0.0, 320.0, 0.0, 0.0, 812.0000610351562, 240.0, 0.0, 0.0, 0.0, 1.0, 0.0],
        binning_x: 0, binning_y: 0,
        roi: {x_offset: 0, y_offset: 0, height: 0, width: 0, do_rectify: false}}' -r 25"/>

  <node pkg="rostopic" type="rostopic" name="kinect_color_pub" respawn="false" output="screen"
        args="pub /kinect/color/camera_info sensor_msgs/CameraInfo -s
        '{header: {seq: 0, stamp: now, frame_id: 'kinect_camerea_visor'},
        height: 720, width: 1280, distortion_model: 'plumb_bob',
        D: [],
        K: [1120.1199067175087, 0.0, 640.5, 0.0, 1120.1199067175087, 360.5, 0.0, 0.0, 1.0],
        R: [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0],
        P: [1120.1199067175087, 0.0, 640.5, -0.0, 0.0, 1120.1199067175087, 360.5, 0.0, 0.0, 0.0, 1.0, 0.0],
        binning_x: 0, binning_y: 0,
        roi: {x_offset: 0, y_offset: 0, height: 0, width: 0, do_rectify: false}}' -r 25"/>
</launch>
