<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur5e">

  <!-- common stuff -->
  <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />

  <!-- calibration files -->
  <xacro:arg name="kinematics_config" default="$(find ur_e_description)/cfg/ur5e_default.yaml"/>
  <xacro:arg name="kinect_config" default="$(find ocrtoc_task)/config/ur5_azure_kinect_handeyecalibration_eye_on_base.yaml"/>
  <xacro:property name="kinect_values" value="${load_yaml('$(arg kinect_config)')}"/>
  <xacro:arg name="realsense_config" default="$(find ocrtoc_task)/config/ur5_realsense_handeyecalibration_eye_on_hand.yaml"/>
  <xacro:property name="realsense_values" value="${load_yaml('$(arg realsense_config)')}"/>

  <xacro:property name="__kinematics" value="${kinematics_file['kinematics']}"/>

  <!-- ur5e -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5e_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
    kinematics_file="${load_yaml('$(arg kinematics_config)')}"
  />

  <link name="world" />

  <!-- Adding table to the world -->
  <link name="table">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <inertial>
      <mass value="50" />
      <origin xyz="0 0 0" />
      <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="2 2 0.76" />
      </geometry>
      <material name="silver">
        <color rgba="0.75 0.75 0.75 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="2 2 0.76" />
      </geometry>
    </collision>
  </link>

  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="table"/>
    <origin xyz="0.0 0.0 -0.38" rpy="0.0 0.0 -1.57" />
  </joint>

  <!-- fixing robot base link to the table -->
  <joint name="table_joint" type="fixed">
    <parent link="table" />
    <child link = "base_link" />
    <origin xyz="0 -0.24 0.38" rpy="0.0 0.0 0" />
  </joint>

  <!-- realsense tool -->
  <link name="realsense_tool">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    <inertial>
      <mass value="0.3" />
      <origin xyz="0 0 0" />
      <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="${0.5*0.075}" length="0.016" />
      </geometry>
      <material name="silver">
        <color rgba="0.75 0.75 0.75 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="${0.5*0.075}" length="0.016" />
      </geometry>
    </collision>
  </link>

  <joint name="realsense_tool_joint" type="fixed">
    <parent link="tool0" />
    <child link = "realsense_tool" />
    <origin xyz="0 0 0.005" rpy="0 0 0" />
  </joint>

  <!-- realsense camera -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  <sensor_d435 parent="${realsense_values['robot_effector_frame']}" use_nominal_extrinsics="false" >
    <origin xyz="${realsense_values['transformation']['x']} ${realsense_values['transformation']['y']} ${realsense_values['transformation']['z']}"
            rpy="${realsense_values['transformation']['roll']} ${realsense_values['transformation']['pitch']} ${realsense_values['transformation']['yaw']}"/>
  </sensor_d435>

  <!-- kinect camera -->
  <xacro:include filename="$(find azure_kinect_ros_driver)/urdf/azure_kinect.urdf.xacro" />
  <joint name="base_kinect_joint" type="fixed">
    <parent link="${kinect_values['robot_base_frame']}" />
    <child link = "${kinect_values['tracking_base_frame']}" />
    <origin xyz="${kinect_values['transformation']['x']} ${kinect_values['transformation']['y']} ${kinect_values['transformation']['z']}"
            rpy="${kinect_values['transformation']['roll']} ${kinect_values['transformation']['pitch']} ${kinect_values['transformation']['yaw']}"/>
  </joint>

  <!-- gripper -->
  <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_ur_coupler.urdf.xacro" />
  <xacro:robotiq_ur_coupler name="robotiq_ur_coupler" parent="realsense_tool" />
  <!--xacro:robotiq_ur_coupler name="robotiq_ur_coupler" parent="tool0" /-->
  <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_2f_85.urdf.xacro" />
  <xacro:robotiq_2f_85 name="robotiq_2f_85" parent="robotiq_ur_coupler" precise_collision="false" adaptive_transmission="true" sim="false" >
    <origin xyz="0 0 0" rpy="0 0 ${pi/2}"/>
  </xacro:robotiq_2f_85>

</robot>
