<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="" />
  <arg name="sdf_robot_file" default=""/>
  <arg name="x" default="" />
  <arg name="y" default="" />
  <arg name="z" default="" />
  <arg name="roll" default="" />
  <arg name="pitch" default="" />
  <arg name="yaw" default="" />


  <!--Spawning sdf-->
  <node name="$(arg robot_name)_spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(arg sdf_robot_file) -sdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg robot_name)" respawn="false" output="screen" />

</launch>
